* {
    margin: 0;
    padding: 0;
    text-decoration: none;
	box-sizing: border-box;
}

.row {
    display: flex;
}


.column {
    flex: 33.33%;
    padding: 5px;
}

footer {
    background-color: black;
    text-align: center;
    height: 50px;
    min-width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 1000px;
}

#logo {
    position: absolute;
    top: 0;
    left: 5;
}

h1 {
    color: hotpink;
    font-size: 5vw;
    text-align: center;
    padding-top: 30px;
}
.top-nav {
    height: 40px;
    width: 100%;
    background-color: dodgerblue;
}
.top-nav .menu{
    diplay:inline-block;
    list-style:none;
}
.top-nav .menu li {
	display:inline;
    padding:5px 10px;
    float:right;
    margin:5px;
}

.top-nav .menu li a {
    color: white;
    display: inline;
    float: right;
    text-align: center;
    margin-left:5px;
    margin-right:5px;
    padding:5px;
}

.top-nav .max-width {
    text-align: right;
}
a:hover {
    background: blueviolet;
    transition: .5s;
	border-radius:20px;
}
footer {
    background-color: dodgerblue;
    text-align: center;
    height: 30px;
    color:white;
    margin-top:500px;
}